.calculator {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a1c1fb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    font-size: 2rem;
    background-color: #82a1ad;
    color: white;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  button {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #419fa8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6659f6;
  }
